log {
  display: block;
  border: 3px solid black;
  padding: 10px;
  overflow-y: scroll;
  margin-right: 2px;
  margin-bottom: 3px;
  width: 100%;
}

#log {
  height: 55vh;
}

#players {
  height: 15vh;
}

#stacks {
  height: 40vh;
}

#hand {
  height: 30vh;
}

.left {width: 100%}
.right {width: 100%}
@media (min-width: 600px) {
  .left {width: calc(90vw * 4 / 9)}
  .right {width: calc(90vw * 5 / 9)}
}

input {
  display: block;
  position: relative;
  border: 3px solid black;
  width: 90vw;
  top: 10px;
  font-size: 20px;
  padding: 10px;
}

h {
  display: none;
}


details {
  display: inline;
}

summary {
  display: flex;
  cursor: pointer;
  display: inline;
}

summary::-webkit-details-marker {
  display: none;
}
